.container {
    width: 1160px;
    margin: 0 auto;
}
body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}
.to-uppercase{
    text-transform: uppercase;
}
h1 {
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFF;
    padding: 22px 0;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    color: #4E4E4E;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-bottom: 100px;
}

h2.white {
    color:#FFF;
}

h2:before {
    content: '';
    width: 78px;
    position: absolute;
    border: 1px solid #18CFAB;
    top: 56px;
    left: 50%;
    transform: translateX(-60%);
}

h2:after {
    content: '';
    width: 78px;
    position: absolute;
    border: 1px solid #18CFAB;
    top: 60px;
    right: 50%;
    transform: translateX(60%);
}
button{
    font-family: 'Montserrat', sans-serif !important;
}
.button {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFF;
    display: inline-block;
    min-width: 168px;
    padding: 24px 12px;
    border-radius: 8px;
    box-shadow: 0 -5px 0 #FFF;
}

.button-green {
    background: #18CFAB;
}

.button-blue {
    background: #00CBF6;
    margin-left: 26px;
}

.button-load {
    background: #18CFAB;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFF;
    display: inline-block;
    min-width: 168px;
    padding: 22px 0 22px 22px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.button-load:before {
    content: '+';
    position: absolute;
    left: 22px;
    font-size: 25px;
}


/* -------------------------------------------------------- */
header {
    background: rgba(94, 93, 88, 0.6);
    position: absolute;
    width: 100vw;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    padding: 26px 0;
    display: flex;
    align-items: center;
}

.logo {
    width: 58px;
    height: 34px;
    background: #18CFAB;
    position: relative;
    font-size: 40px;
    font-weight: 700;
    color: #FFF;
    line-height: 31px;
    text-align: center;
}

.logo:before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-bottom: 16px solid #18CFAB;
}

.logo:after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-top: 16px solid #18CFAB;
}

.logo-text {
    color: #FFF;
    font-size: 32px;
    line-height: 48px;
    padding-left: 6px;
}

.logo-text span {
    color: #18CFAB;
    font-weight: 700;
}

.header-list {
    display: flex;
}

.header-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 21px;
}

.header-link:hover {
    color: #18CFAB;
}

.header-section {
    background-image: url("../images/banner1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 1012px;
    text-align: center;
    margin-bottom: 8px;
}

.section-header-suptext {
    padding-top: 380px;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFF;
}

.section-header-suptext span {
    color: #18CFAB;
}


.section-header-subtext {
    font-size: 34px;
    color: #D4D4D4;
}

.section-header-buttons {
    padding-top: 122px;
}


/*----------------------------------------------------------*/

.section-squares {
    display: flex;
}

.square {
    height: 360px;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
}

.square-teal {
    background: #1C2A33;
    color: #18CFAB;
}

.square-cyan {
    background: #18CFAB;
    color: #FFF;
}

.square-text {
    padding-top: 49px;
    padding-bottom: 103px;
}

.square-text-light {
    padding-top: 59px;
}

/* ----------------------------------------- */

.services{
    height: 375px;
    padding: 92px 0 92px 0;
}

.services img{
    width: 192px;
    height: 139px;
    margin-right: 13px;
}
.tabs {
    display: flex;
    margin-bottom: 27px;
}
.tabs-block{
    display: flex;
}
.tabs-title {
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(119, 119, 119, 1);
    cursor: pointer;
}

.tabs-title.active {
    background-color:rgba(24, 207, 171, 1) ;
    color: rgba(255, 255, 255, 1);
}
.tabs-title.active::before{
    content: "";

}
.tabs-paragraph {
    display: none;
}

.tabs-paragraph.active-par{
    display: inline-block;
}
.tabs-pic{
    display: none;
}
.active-pic{
    display: inline;
}
.work-images img{
    object-fit: cover;
    width: 285px;
    height: 211px;
}
.hidden{
    display: none !important; 
}
/* -------------------------------------------------------------- */
.section-buy {
    background-image: url("../images/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 476px;
    text-align: center;
}

.buy-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 127px;
}

.buy-subtitle {
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    padding: 12px 0 67px 0;
}

/* ------------------------------------------------------ */

.section-work {
    background: #E9EDEF;
    padding: 100px 0;
    justify-items: center;
}

.work-menu{
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 80px;
    padding-inline: 0;
}

.work-filter-button {
    padding: 21px 15px;
    background-color: #E9EDEF;
    border: 1px solid #DADADA;
    color: #717171;
    cursor: pointer;
    font-size: 14px;
    min-width: 80px;
    justify-content: center;
}

.work-filter-button:hover, .work-filter-button.active {
    border: 1.5px solid #18CFAB;
}

.btn-wrapper{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load-more-btn{
    background: #18CFAB;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #FFF;
    display: inline-block;
    min-width: 168px;
    padding: 22px 0 22px 22px;
    border-radius: 8px;
    text-align: center;
    position: relative;

}

.load-more-btn:before {
    content: '+';
    position: absolute;
    left: 22px;
    font-size: 25px;
}



/* --------------------------------------------------- */

.section-breaking-news {
    background: #FFFFFF;
    padding: 82px 0;
}

.news-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-item {
    width: 265px;
    height: 281px;
    position: relative;
    margin-bottom: 44px;
}

.news-title {
    font-weight: 700;
    font-size: 18px;
    color: #717171;
    padding-top: 16px;
    padding-left: 21px;
}

.news-item:hover .news-title {
    color: #18CFAB;
}

.news-author,
.news-comments {
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    color: #777;
    padding-top: 18px;
    padding-left: 18px;
}

.news-author:after {
    content: '|';
    padding-left: 18px;
}

.news-date {
    width: 70px;
    height: 68px;
    position: absolute;
    top: 0;
    right: 2px;
    background-color: #203E38;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    padding-top: 9px;
    color: #FFF;
}

.news-item:hover .news-date {
    background-color: #18CFAB;
}

.news-item:hover img {
    filter: grayscale(100%);
}

/* --------------------slick carrousel--------------------- */
.about {
    padding-top: 98px;
    background-image: url(../images/banner3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 853px;
}

.about__title {
    color: #fff;
    margin-bottom: 66px;
}

.about__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}

.slider-for {
    text-align: center;
}

.about__item-text {
    color: #BBB;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 37px;
}

.about__reviewers {
    color: #18CFAB;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about__reviewer-job {
    color: #BBB;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 38px;
}

.about__reviewer-img {
    width: 166px;
    height: 166px;
    object-fit: cover;
    border-radius: 50%;
    border: 12px solid rgba(31, 218, 181, 0.2);
    margin: 0 auto 51px;
}

.slider.slider-nav {
    width: 390px;
    margin: 0 auto;
}

.slick-prev,
.slick-next {
    display: flex !important;
    align-items: center;
    height: 31px !important;
    width: 31px !important;
    background-color: rgba(0, 0, 0, 0.0001) !important;
    border: 1px solid #BBBBBB !important;
    justify-content: center;
}

.slick-prev {
    left: -50px !important;
}

.slick-next {
    right: -50px !important;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: #18CFAB !important;
    cursor: pointer;
    transition: all 0.3s;
}

.slick-prev:before {
    content: "\f104" !important;
    color: #BBBBBB !important;
    font-size: 23px !important;
    line-height: 0 !important;
    font-family: FontAwesome !important;
}

.slick-next:before {
    content: "\f105" !important; 
    color: #BBBBBB !important; 
    font-size: 23px !important; 
    line-height: 0 !important; 
    font-family: FontAwesome !important; 
}

.about__nav-item {
    width: 100px;
    height: 75px;
}

.about__nav-img {
    object-fit: cover;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 4px solid rgba(31, 218, 181, 0.2);
    cursor: pointer;
}

/* .about__nav-item.slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__nav-item.slick-current.slick-active {
    align-items: flex-start;
} */

/*------------------------------------------------------- */

footer {
    width: 100%;
    background-color: #22353F;
    display: flex;
    justify-content: center;
}

.copyright {
padding: 47px 0;
    font-weight: 300;
    font-size: 14px;
    color: #AEAEAE;
}

.copyright span {
    color: #18CFAB;
}

.copyright:first-child {
    padding-right: 7px;
}

.copyright:first-child:after {
    content: '|';
    padding-left: 7px;
}

